<!--======  ABOUT-US PART START ======-->
<section class="about-us-area" id="About">
    <div class="container">
        <div class="row">
            <div class="about-us-img">
                <img src="{{relative_url}}/assets/images/about-us/1.png" alt="" class="about-img-1">
                <img src="{{relative_url}}/assets/images/about-us/2.png" alt="" class="about-img-2">
            </div>
            <div class="col-lg-5 offset-lg-7">
                <div class="about-us-content">
                    <div class="section-title about-us-title">
                        <p class="section-para"><span></span>Sobre Nosotros</p>
                        <h1>Somos un equipo altamente creativo dispuestos a ayudarte</h1>
                    </div>
                    <div class="about-us-text">
                        <span>A</span>
                        <p>En Mañana Estudio combinamos la experiencia en el manejo y creatividad en las redes sociales con programas de
análisis de datos personalizados para ayudar a las marcas a tomar decisiones innovadoras.</p>
                    </div>
                    <ul class="about-menu">
                        <li><a href="#"><i class="fas fa-check"></i>Analisis de redes sociales</a></li>
                        <li><a href="#"><i class="fas fa-check"></i>Márketing Digital</a></li>
                        <li><a href="#"><i class="fas fa-check"></i>Performance</a></li>
                        <li><a href="#"><i class="fas fa-check"></i>Estrategia Comunicacional</a></li>
                        <li><a href="#"><i class="fas fa-check"></i>Analisis de Audiencias</a></li>
                    </ul>
                    <a href="#Contact" class="btn about-btn">Contáctanos!<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  ABOUT-US PART END ======-->
