<!--======  HERO PART START ======-->
<section class="hero-area hero-carousel-active" id="home">
    <div class="single-hero-area hero-bg-1 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">tus redes sociales  <br>
                            administradas con inteligencia</p>
                        <h1 class="hero-heading">
                          somos trinomio digital
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#">análisis de redes sociales</a></li>
                                <li><a href="#">marketing digital</a></li>
                                <li><a href="#">performance</a></li>
                            </ul>
                        </div>
                        <a href="#Contact" class="btn hero-btn">¡trabajemos juntos!<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
    <div class="single-hero-area hero-bg-2 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">Haremos despegar tu emprendimiento 🚀 <br>
                            con un equipo de creativos sacados de la NASA</p>
                        <h1 class="hero-heading">
                            somos trinomio digital
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#">análisis de redes sociales</a></li>
                                <li><a href="#">marketing digital</a></li>
                                <li><a href="#">performance</a></li>
                            </ul>
                        </div>
                        <a href="#Contact" class="btn hero-btn">¡despeguemos! <i class="fa fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
    <div class="single-hero-area hero-bg-3 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">¿quieres que tus redes sociales exploten 💥?  <br>
                            estamos aquí para encender la mecha</p>
                        <h1 class="hero-heading">
                            somos trinomio digital
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#">análisis de redes sociales</a></li>
                                <li><a href="#">marketing digital</a></li>
                                <li><a href="#">performance</a></li>
                            </ul>
                        </div>
                        <a href="#Contact" class="btn hero-btn">¡vamos con todo! <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
</section>
<!--======  HERO PART END ======-->
