<!--======  HERO PART START ======-->
<section class="hero-area hero-carousel-active" id="home">
    <div class="single-hero-area hero-bg-1 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">Tus redes sociales  <br>
                            administradas con Inteligencia</p>
                        <h1 class="hero-heading">
                          Somos Trinomio Digital
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#">Análisis de redes sociales</a></li>
                                <li><a href="#">Marketing Digital</a></li>
                                <li><a href="#">Performance</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn hero-btn">¡Trabajemos juntos!<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
    <div class="single-hero-area hero-bg-2 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">Haz despegar tu emprendimiento 🚀 <br>
                            con un equipo de creativos sacados de la NASA</p>
                        <h1 class="hero-heading">
                            Somos Trinomio Digital
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#">Análisis de redes sociales</a></li>
                                <li><a href="#">Marketing Digital</a></li>
                                <li><a href="#">Performance</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn hero-btn">¡Despeguemos! <i class="fa fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
    <div class="single-hero-area hero-bg-3 bg_cover" data-scroll-area="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-area-content">
                        <p class="hero-para">¿Quieres que tus redes sociales exploten 💥?  <br>
                            Estamos aquí para encender la mecha</p>
                        <h1 class="hero-heading">
                            Somos Trinomio Digital
                        </h1>
                        <div class="hero-area-menu">
                            <ul>
                                <li><a href="#">Análisis de redes sociales</a></li>
                                <li><a href="#">Marketing Digital</a></li>
                                <li><a href="#">Performance</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn hero-btn">¡Vamos con todo! <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-scrolli">
            <span><i class="fa fa-arrow-down"></i></span>
        </div>
    </div>
</section>
<!--======  HERO PART END ======-->
