<!--======  PRICING PART START ======-->
<section class="pricing-area pt-140 pb-140" id="price">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="section-title pricing-title pb-80">
                    <p class="section-para"><span></span>planes mensuales</p>
                    <h1>tenemos un plan adecuado para ti</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-price-box">
                    <div class="absolute-price-num">
                        <h2>01 <span>redes sociales</span></h2>
                    </div>
                    <img src="assets/images/price-icon.png" alt="" class="price-icon">
                    <h3><span>$200.000 + iva</span> administración de rrss </h3>
                    <p><i class="fa fa-arrow-right"></i>planificación de contenido</p>
                    <p><i class="fa fa-arrow-right"></i>diseño de contenido</p>
                    <p><i class="fa fa-arrow-right"></i>atención al cliente </p>
                    <div class="hover-pricing-text">
                        <p><i class="fa fa-arrow-right"></i>generación de 1 concurso</p>
                        <p><i class="fa fa-arrow-right"></i>informe mensual</p>
                    </div>
                    <a href="https://www.trinomio.digital/contacto.html" class="btn price-btn">🙂¡quiero este plan! <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price-box active">
                    <div class="absolute-price-num">
                        <h2>02 <span>publicidad</span></h2>
                    </div>
                    <img src="assets/images/price-icon.png" alt="" class="price-icon">
                    <h3><span>$250.000 + iva</span> campañas publicitarias </h3>
                    <p><i class="fa fa-arrow-right"></i>asesoría en estrategia digital</p>
                    <p><i class="fa fa-arrow-right"></i>configuración de campañas</p>
                    <div class="hover-pricing-text">
                        <p><i class="fa fa-arrow-right"></i>informe de métricas</p>
                        <p><i class="fa fa-arrow-right"></i>integración de pixel</p>
                    </div>
                    <a href="https://www.trinomio.digital/contacto.html" class="btn price-btn">🤓¡quiero este plan!<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price-box">
                    <div class="absolute-price-num">
                        <h2>03 <span><pre></pre>lan 360</span></h2>
                    </div>
                    <img src="assets/images/price-icon.png" alt="" class="price-icon">
                    <h3><span>$400.000 + iva </span> rrss + publicidad </h3>
                        <p><i class="fa fa-arrow-right"></i>planificación de contenido</p>
                        <p><i class="fa fa-arrow-right"></i>diseño y publicación de contenido</p>
                        <p><i class="fa fa-arrow-right"></i>atención al cliente</p>
                        <div class="hover-pricing-text">
                            <p><i class="fa fa-arrow-right"></i>configuración de campañas</p>
                            <p><i class="fa fa-arrow-right"></i>informe de métricas</p>
                        </div>
                        <a href="https://www.trinomio.digital/contacto.html" class="btn price-btn">😎 ¡quiero este plan!<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  PRICING PART END ======-->
