<!--======  PRICING PART START ======-->
<section class="pricing-area pt-140 pb-140" id="price">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="section-title pricing-title pb-80">
                    <p class="section-para"><span></span>Nuestros Planes</p>
                    <h1>Tenemos un plan adecuado para ti</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-price-box">
                    <div class="absolute-price-num">
                        <h2>01 <span>Plan RRSS</span></h2>
                    </div>
                    <img src="assets/images/price-icon.png" alt="" class="price-icon">
                    <h3><span>$200.000 + iva mensual</span> Administración de Redes Sociales</h3>
                    <p><i class="fa fa-arrow-right"></i>Planificación de Contenido Mensual</p>
                    <p><i class="fa fa-arrow-right"></i>Diseño de Contenido</p>
                    <p><i class="fa fa-arrow-right"></i>Publicación de Contenido</p>
                    <div class="hover-pricing-text">
                        <p><i class="fa fa-arrow-right"></i>Atención al Cliente (SAC)</p>
                        <p><i class="fa fa-arrow-right"></i>Informe Mensual</p>
                    </div>
                    <a href="#" class="btn price-btn">🙂¡Quiero este plan! <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price-box active">
                    <div class="absolute-price-num">
                        <h2>02 <span>Publicidad</span></h2>
                    </div>
                    <img src="assets/images/price-icon.png" alt="" class="price-icon">
                    <h3><span>$250.000 + iva mensual</span> Campañas de Publicidad</h3>
                    <p><i class="fa fa-arrow-right"></i>Asesoría para establecer Estrategia Digital</p>
                    <p><i class="fa fa-arrow-right"></i>Propuestas de KPIs</p>
                    <p><i class="fa fa-arrow-right"></i>Configuración de campañas en Facebook, Instagram o Google Ads</p>
                    <div class="hover-pricing-text">
                        <p><i class="fa fa-arrow-right"></i>Informe de métricas de las campañas</p>
                    </div>
                    <a href="#" class="btn price-btn">🤓¡Quiero este plan!<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price-box">
                    <div class="absolute-price-num">
                        <h2>03 <span>Plan 360</span></h2>
                    </div>
                    <img src="assets/images/price-icon.png" alt="" class="price-icon">
                    <h3><span>$400.000 + iva mensual</span> RRSS + Publicidad </h3>
                        <p><i class="fa fa-arrow-right"></i>Planificación de Contenido Mensual</p>
                        <p><i class="fa fa-arrow-right"></i>Diseño y publicación de Contenido</p>
                        <p><i class="fa fa-arrow-right"></i>Atención al Cliente</p>
                        <div class="hover-pricing-text">
                            <p><i class="fa fa-arrow-right"></i>Configuración de campañas</p>
                            <p><i class="fa fa-arrow-right"></i>Informe de métricas</p>
                        </div>
                        <a href="#" class="btn price-btn">😎 ¡Quiero este plan!<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  PRICING PART END ======-->
