<!--======  TESTIMONIAL PART START ======-->
<section class="testimonial-area" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="assets/images/testimonial/1.png" alt="">
            </div>
            <div class="col-lg-7 textimonial-carousel-active">
                <div class="single-testimonial-content">
                    <span class="testimonial-quote"><i class="fa fa-quote-right"></i></span>
                    <p>No sabía cómo recuperar la confianza de mis seguidores y me contacté con Mañana Studio. Ellos me propusieron que tuviera una estrategia comunicacional más amable, menos agresiva, porque cada vez que me llegaba un comentario negativo
                        o un nuevo seguidor. Lo eliminaba.</p>
                    <div class="autohor-details">
                        <img src="assets/images/testimonial/author.png" alt="" class="author-img">
                        <h5 class="author-name">Rambo<span>Ex Militar de los EEUU</span></h5>
                    </div>
                </div>
                <div class="single-testimonial-content">
                    <span class="testimonial-quote"><i class="fa fa-quote-right"></i></span>
                    <p>Nunca fui muy amiga de las máquinas y de la tecnología, por lo que me costó un mundo decidirme si abrir mis redes sociales, por miedo a que se llenaran de bots. Pero me contacté con Mañana Studio y decidií que ellos harían ese trabajo
                        por mi. Así me preocupo únicamente de salvar a la humanidad.</p>
                    <div class="autohor-details">
                        <img src="assets/images/testimonial/author.png" alt="" class="author-img">
                        <h5 class="author-name">Sarah Connor <span>Web Designer</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======  TESTIMONIAL PART END ======-->