<!doctype html>
<html lang="en">

<head>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WGGD72X');</script>
  <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--====== Fontawesome pro css ======-->
    <link rel="stylesheet" href="assets/css/all.css">
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="assets/css/slick.css">
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="assets/css/slick-menu.css">
    <!--====== Default css ======-->
    <link rel="stylesheet" href="assets/css/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <title>{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}</title>
    {% if site.environment == 'production' %} {% endif %}

    <!-- Primary Meta Tags -->
<title>Trinomio Digital - Laboratorio Creativo.</title>
<meta name="title" content="Marketing y estudio de datos para todxs.">
<meta name="description" content="Potenciamos tu marca en redes sociales y canales digitales.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="http://trinomio.digital/">
<meta property="og:title" content="Marketing y estudio de datos para todxs.">
<meta property="og:description" content="Potenciamos tu marca en redes sociales y canales digitales.">
<meta property="og:image" content="https://imgur.com/tgqI6Eu.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="http://trinomio.digital/">
<meta property="twitter:title" content="Marketing y estudio de datos para todxs.">
<meta property="twitter:description" content="Potenciamos tu marca en redes sociales y canales digitales.">
<meta property="twitter:image" content="https://imgur.com/tgqI6Eu.jpg">


<meta name="facebook-domain-verification" content="fgpf6iq8v3z2x0urjmkxmtwbhzmuhv" />

</head>

<body>

    <!--======  PRELOADER PART START ======-->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div>
    <!--======  PRELOADER PART END ======-->

    <!--======  OFFCANVAS-SEARCH PART START ======-->
    <div class="search-form">
        <div class="offcanvas-search-area">
            <form action="#">
                <input type="text" id="search-input" placeholder="Search.." required>
                <span class="close-bar"><i class="fas fa-times"></i></span>
            </form>
            <ul id="results-container"></ul>
        </div>
    </div>

    <!--======  OFFCANVAS-SEARCH PART END ======-->
    {% include header.html %} {{content}} {% include footer.html %}

    <!--======  SCROLL-TO-TOP PART START ======-->
    <div class="scroll-to-top">
        <span id="return-to-top"><i class="fa fa-arrow-up"></i></span>
    </div>
    <!--======  SCROLL-TO-TOP PART END ======-->
    <!--====== jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>
    <!--====== Slick js ======-->
    <script src="assets/js/slick-menu.min.js"></script>
    <!--====== counterup js ======-->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!--====== onepage-nav Popup js ======-->
    <script src="assets/js/jquery.nav.js"></script>
    <script src="assets/js/simple-jekyll-search.min.js"></script>
    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>

    <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGGD72X"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

</body>

</html>
